[package]
name = "ddcp"
version = "0.1.0"
edition = "2021"
build = "build.rs"
exclude = ["./external"]
license = "MPL-2.0"

[dependencies]
capnp = "0.18.1"
clap = {version = "4.4.3", features = ["derive"]}
flume = "0.11.0"
rusqlite = {version = "0.29.0", features = ["load_extension"]}
thiserror = "1.0.48"
tokio = "1.32.0"
tokio-rusqlite = "0.4.0"
veilid-core = { path = "vendor/veilid/veilid-core" }
xdg = "2.5.2"

[build-dependencies]
capnpc = "0.18.0"
